# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Untracked files.
# Mac OS X Finder and whatnot
.DS_Store
.mvn
*.class

# Ignoring maven artifacts
target*

# Ignoring intellij artifacts
*.iml
.idea/
